.btn-primary {
    color: #fff;
    background-color: #916000;
    border-color: #916000;
}

.btn-primary:hover {
    color: YELLOW;
    background-color: #6b4700;
    border-color: #5e3e00;
}

.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F6C4C0;
    border: 1px solid #741810;
}